.wrap {
    margin: 0 auto;
}

.header {
    height: 120px;
    border: 1px solid #000;
    background: green;
}

.logo {
    height: 100px;
    width: 100px;
    background: #000;
    margin: 10px;
}

.banner {
    background: pink;
}

.banner-outbox {
    padding: 10px 0;
}

.footer {
    text-align: center;
    padding: 10px;
}

.repeat-1 {
    width: 500px;
    margin: 0 auto;
}

.repeat-2 {
    margin-bottom: 20px;
}