.container{
    border: 1px solid red;    
}
h1{
    float:left;  /*文字要靠在左邊*/
    
}

h1 a{
    background-image: url(../img/logo.png);
    width: 1811px;
    height: 627px;
    display: block;
    text-indent: 101%; /*讓文字超出範圍*/
    overflow: hidden; /*超出範圍的隱藏*/
    white-space: nowrap; /*讓字不會被卡掉，會完整顯示*/
    
}