*,*::before,*::after{
    box-sizing: border-box;
}

body{
    font-size: 24px;
    line-height: 1.4;
    font-weight: 600;
    font-family: "PingFang TC";
    color:#3F5D45;
}

img{
    max-width: 100%;
    display: block;
}

.wrap{
    width: 952px;
    margin: 0 auto;
    display: flex;
    gap: 24px;
    padding: 4px;
}

.h2{
    padding: 16px 102px;
    background: #3F5D45;
    color:#FFFFFF;
    text-align: center;
}

.category{
    width: 300px;
    flex-shrink: 0;
}

.category_items li{
    width: 300px;
    text-align: center;
    padding: 18px 0;
    border: 1px solid #EAF0ED;    
}

.bg{
    background: #EAF0ED;
}

.dessert{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}


.dessert_name{
    font-size: 20px;
    display: flex;
    justify-content: space-between;
}

.name{
    padding: 16px 43px;
}

.NT{
    padding: 16px;
}

.addcart{
    display: block;
    text-decoration: none;
    padding: 24px 0;
    text-align: center;
    color: #3F5D45;
}