*,
*::before,
*::after {
    box-sizing: border-box;
}

img {
    max-width: 100%;
    height: auto;
}

.wrap {
    width: 1002px;
    margin: 0 auto;
    font-family: "Microsoft JhengHei";
}

.header {
    margin-bottom: 30px;
}

.follow {
    background-color: #f6f6f6;
    display: flex;
    justify-content: flex-end;
    padding: 5px 10px;
}

.Facebook {
    padding-right: 3px;
    border-right: 1px solid #cbcbcb;
    color: #426197;
}

.Twitter {
    color: #0aabfb;
    padding-left: 3px;
}

.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 10px;
}

.ulmenu {
    display: flex;
}

.ulmenu li {
    width: 100px;
    text-align: center;
}

.ulmenu a {
    color: #18ce9e;
    text-decoration: none;
    display: block;
    padding: 10px 0;
    border-bottom: 3px solid transparent;
}

.ulmenu a:hover {
    border-bottom: 3px solid #18ce9e;
}

.banner {
    position: relative;
    height: 346px;
}

.banner_photo {
    position: absolute;
}

.banner-color {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.25);
    top: 105px;
    width: 100%;
}

.banner-txt {
    font-size: 35px;
    color: white;
    line-height: 1.1;
    padding: 30px 0 30px 20px;
}

.content {
    margin-bottom: 20px;
}

.course {
    display: flex;
    justify-content: space-around;
}

.course-item {
    width: 300px;
    box-shadow: 0px 3px 3px rgb(202, 200, 200);
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
}

.h2 {
    text-align: center;
    font-size: 25px;
    margin-bottom: 5px;
}

.course-content{
    padding: 5px 15px 10px 10px;
    text-align: justify;
    line-height: 1.5;
}

.jQuerylist {
    list-style-type: disc;
    margin-left: 20px;
    line-height: 1.5;
}

.compare{
    margin: 0 auto;
    margin-top: 64px;
    margin-bottom: 64px;
    width: 844px;
    text-align: left;
    table-layout: fixed;
    
}
.caption{
    padding-bottom: 28px;
    font-size: 25px;
    font-weight: bold;
}

.compare_th{
    padding: 10px;
    font-weight: bold;
    background-color: #f7f7f7;
}

.compare_tr{
    border-top: 1px solid #dcdcdc ;
    border-bottom: 1px solid #dcdcdc;
}

.compare_td{
    padding: 10px;
}

.mark{
    color: #18ce9e;
}


.contact{
    background:linear-gradient(#00664b,#009972) ;
    padding: 38px 20px 30px 20px;
}

.contact_title{
    font-size: 24px;
    line-height: 1.5;
    padding-bottom: 33px;
    color: #fff;
    text-align: center;
}

.white{
    background-color: #fff;
    width: 460px;
    height: 246px;
}

.contact_content{
    display: flex;
    margin: 0 auto;
    flex-basis: auto;
    gap: 38px;
}

.contact_form{
    width: 462px;
    color: #fff;
}

.contact_form input,.contact_form label {
    display: block;
    width: 100%;
}

.contact_form input{
    margin-top: 6px;
    margin-bottom: 18px;
    padding: 10px;
    border: 0px;
    border-radius: 3px;
}

.btn{
    color: #fff;
    border: 0px;
    padding: 7px 18px;
    margin-left: auto;
    display: flex;
    background-color: #00cc98;
    border-radius: 3px; 
}


.footer {
    background: gray;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}